/* fonts:

font-family: 'Open Sans', sans-serif;
font-family: 'Heebo', sans-serif;

colors:

*/

/* rgba(0,0,0,1); 

/* rgba(255, 255, 255, 1); */ 


body {
	font-family: 'Righteous', cursive;
	background: white;
	color: rgba(0, 0, 0, 1); 
}

h1, h2, h3, h4 {
	font-family: 'Heebo', sans-serif;
	line-height: 1;
	margin: 0;
}

h2 {
	font-size: 4em;

}
h3 {
	font-size: 3em;
}
p {
	color: #444;
}
a {
	color: rgba(0,0,0,1); 
}
a:hover, a:focus {
	color: #444;
	text-decoration: underline;
}

.container-title, .row-result-title, .row-saved-title {
	background: rgba(0,0,0,1); 
	color: rgba(255, 255, 255, 1); 
	padding: 3em;
}
.container-title .row, .container-title .col {
	padding: 0;
	margin: 0;
}
label {
	font-family: 'Heebo', sans-serif;
}
input {
	padding: 0.25em;
	margin: 0.25em 0 0 0;
	color: #444;
}

.btn-this {
	font-family: 'Heebo', sans-serif;
	background: rgba(0,0,0,1); 
	color: white;
}
.btn-this:hover {
	color: rgba(255, 255, 255, 1); 
}

.row-search-title {
	padding: 2em 0;
}
.row-search-results {
	padding: 0 0 2em 0;
}
.col-search-title {
	margin: 0;
}
.col-result-body {
	position: relative;
	margin: auto;
	padding: auto;
	width: 50;
}
@media screen and (max-width: 800px) and (min-width: 700px) {
	.col-result-body {
		width: calc(33% - 0.5em);
	}
}
@media screen and (max-width: 699px) {
	.col-result-body {
		width: calc(100% - 0.5em);
	}
}
.col-result-body:hover {
	background: rgba(255, 255, 255, 1); 
}
.btn-save {
	text-align: center;
}